@model string

@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4"> @Model </h1>
    <p>Nakite ihtiyacın varsa <strong>Anında Nakit </strong>var!</p>
</div>

<div class="text-center">
    <img src="https://hiperaktifkredi.com/uploads/contents/acil-nakit-ihtiyaci.png" />
</div>
